@import "variables";
@import "mixins";

.calculator {
  @include grid($columns: 1fr, $rows: 228px 1fr);
  position: relative;
  overflow: hidden;
  height: 100svh;
  width: 100%;
  max-width: 600px;
  background-color: $bg-color;
}
