@use "button";
@import "mixins";

.controls {
  display: grid;
  grid-template-columns: repeat(4, minmax(32px, 100px));
  align-content: center;
  justify-content: center;
  gap: 4px;
  height: 100%;

  padding: 24px;
}
